.aboutHeaderText {
  // font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* color: "#34324C"; */
  // color: $white;
  color: "white";
}

.aboutRowContainer {
  margin-top: 32px;
}

.aboutRowTextStyle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-left: 14;
  color: "#51646D";
}
