.button {
  font-size: 12px;
  border-radius: 25px;
  padding: 8px 12px;
  background-color: #6074dd;
  box-shadow: 0px 4px 8px rgba(96, 116, 221, 0.25);
  border: 1px solid #6074dd;
  margin-right: 160px;
}

.buttonText {
  color: "#FFFFFF";
}
